*{
    margin: 0px;
    padding: 0px;
}
body{  
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    display: flex;
    align-items: center;
    background: #505050;
    height: 110vh;
    scroll-behavior: smooth;
}
.homepage{
    background-image: url(https://www.tooplate.com/templates/2102_constructive/img/constructive_bg_01.jpg);
    background-position: 50%;
    background-size: cover;
}
.productspage{
    background-image: url(https://www.tooplate.com/templates/2102_constructive/img/constructive_bg_02.jpg);
    background-position: 50%;
    background-size: cover;
}
.companypage{
    background-image: url(https://www.tooplate.com/templates/2102_constructive/img/constructive_bg_03.jpg);
    background-position: 50%;
    background-size: cover;
}
.contactuspage{
    background-image: url(https://www.tooplate.com/templates/2102_constructive/img/constructive_bg_04.jpg);
    background-position: 50%;
    background-size: cover;
}
header{
    display: none;
}
nav{
    padding: 10vh 0vw;
    align-self: center;
    transition:  all 0.3s ease;
}
ul{
    list-style: none;
    transition:  all 0.3s ease;
}
li{
    padding: 20px;
    width: 19vw;
    overflow: hidden;
    cursor: pointer;
    transition:  all 0.3s ease;
}
a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    transition:  all 0.3s ease;
}

li:nth-of-type(1)>a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f015";
    display: inline-block;
    font-weight: 900;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 12px;
}
li:nth-of-type(2)>a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f279";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 12px;
}
li:nth-of-type(3)>a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 12px;
}
li:nth-of-type(4)>a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f086";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 20px;
    padding: 12px;
}
li>a::after{
    content: url(https://www.tooplate.com/templates/2102_constructive/img/nav-item.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 15px;
    width: inherit;
    height: fit-content;
}
li:hover a::after{
    content: url(https://www.tooplate.com/templates/2102_constructive/img/nav-item-highlight.png);
}

/*اول مره استخدم السيليكت ده*/
li:hover a{
    color: #33ccff;
}

li:hover a::before{
    border-color: #33ccff;
    color: #33ccff;
}
a{
    transition: all .3s ease;
}
/*زوده فاللود علي او ليست ايتم*/
/*اول مره استخدم السيليكت ده*/
a.listitemactive{
    color: #33ccff;
}
li>a.listitemactive::before{
    border-color: #33ccff;
}
a.listitemactive::after{
    content: url(https://www.tooplate.com/templates/2102_constructive/img/nav-item-highlight.png);
}


h1{
    margin-left: 68px;
}
article{
    display: flex;
    width: 70vw;
    padding: 30px;
    z-index: -1;
}
.card{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    margin: 20px 20px 20px 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
}
.icon{
    align-self: center;
}
.icon>i{
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 25px;
    padding: 12px;
}
.cardcontant>h2{
    font-weight: 300;
    font-size: 1.75rem;
}
main>p{
    width: 50vw;
    font-size: 1.3rem;
    line-height: 2.4;
    margin: 3rem 3.8rem;
}
.btn{
    margin: 5px 3.7rem;    
    background: none;
    border: white solid 1px;
    width: fit-content;
    align-self: flex-end;
    padding: 20px 40px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    border-color: #33ccff;
    color: #33ccff;
}
.products{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62vw;
}
.showimg{
    position: absolute;
    width: 98.9vw;
    height: 110vh;
    z-index: 100;
    /*هخلي الباك جروند فيها اوباستي عشان يبان ضل*/
    background-color: rgb(11 11 11 / 80%);
    opacity: 0;
    pointer-events: none;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    /*عشان تختفي بالراحه لازم احطها هنا كمان*/
    transition: opacity 0.2s;
    transition: display 0.2s;
    cursor: zoom-out;

}
.open{
    display: flex;
    /*هخلي الاوباستي بواحد عشان يظهر وتظهر الصور واضحه*/
    opacity: 1;
    pointer-events: all;
    /*عشان تظهر بالراحه لازم احطها هنا*/
    transition: opacity 0.2s;
    transition: display 0.2s;
}
.showimg>button{
    background: transparent;
    border: 0;
    margin-left: 27.5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.showimg>p{
    margin-left: 26rem;
    margin-top: .2rem;
    font-size: 15px;
}
.showimg>button::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    display: inline-block;
    padding: 5px;
    font-weight: 900;
    color: #FFF;
    font-size: 20px;
}
.showimg>section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.showimg>section img{
    width: 350px;
    height: 88vh;
    cursor: pointer;
}
.showimg>section button{
    background: transparent;
    border: 0;
}
.showimg>section i{
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #fff;
    opacity: .6;
}
.showimg>section i:hover{
    opacity: 1;
    cursor: pointer;
}
.galary{
    display: flex;
    column-gap: 13px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 60.8vw;
    scroll-behavior: smooth;
}
.galary>section{
    width: 54vw;
    display: flex;
    overflow: hidden;
    /*column-gap: 30px;*/
    width: 57vw;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

/*لسه الازرار اكتفيف ولا اليمين والشمال ةالي تحت2 ولسه في جافا ولسه ف فتح كل صوره كده لسه 4حاجات*/
.prevbtn,
.nextbtn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: white;
    opacity: .75;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
/*بردو لازم اول م يحمل الصفحه يتشك علي الصور يمين وشمال ويفعل ده*/
.diactivate{
    opacity: .25 !important;
    cursor: not-allowed;
}
.prevbtn:hover,
.nextbtn:hover{
    opacity: 1;
}
img{
    margin-left: 10px;
    transition: all 0.3s ease;
}
.controlbtn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    margin-right: 8px;
    opacity: .25;
    background-color: black;
}
.controlbtn:hover{
    opacity: 1;
}
/*لازم فال
js
اخليه اول ما ي
load
يزوده ع اول زرار
*/
.active{
    opacity: .75 !important;
    background-color: black;
}
button{
    transition: all 0.3s ease;
}
.cardcontant>p{
    font-size: 1rem;
    line-height: 2.2;
}
.contactus{
    width: 59vw;
    height: 68vh;
    background-color: rgba(0,0,0,0.5);
    margin-left: 50px;
    padding: 90px 50px;
    display: flex;
    flex-direction: column;
}
.contactus>h1{
    margin: 0px 10px 30px 10px;
}
.contactus>section{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
form>input,
form>textarea{
    background: none;
    border: white solid 1px;
    margin: 10px;
    padding: 20px;
    width: 360px;
    color: white;
    font-size: 14px;
    font-family: inherit;
}
form>.btn{
    background: none;
    border: white solid 1px;
    width: fit-content;
    align-self: flex-end;
    margin: 10px;
    padding: 20px 40px;
    color: white;
}
form>input:focus,
form>textarea:focus,
form>button:focus{
    /*اول مره اعرفها ديييييييييييييييييي*/
    outline: none;
    border-color: #33ccff;
    box-shadow: 0 0 10px #33ccff;
}/*
form>input:focus-visible,
form>textarea:focus-visible,
form>button:focus-visible{
    outline: none;
    border-color: #33ccff solid 1px;
}*/
.contactus>section>section>p{
    font-size: 1rem;
    line-height: 2.2;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #ffffffb3;
    width: 25vw;
}
.contactus>section>section>address{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;    
    margin-top: 0;
    margin-left: 1rem;
    color: #ffffffb3;
}
footer{
    position: absolute;
    color: white;
    right: 20px;
    bottom: -87px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    font-size: 16px;
}
footer>p>a{
    font-size: 16px;
}



@media screen and (min-width: 320px) {
    body>button {
        width: 60px;
        height: 50px;
        border: 1px solid #33ccff;
        background-color: #0b0b0b;
        opacity: .8;
        display: block;
        top: 4px;
        position: absolute;
        cursor: pointer;
        transition:  all 0.3s ease;
    }
    body>button>i {
        color: #33ccff;
    }
    body>button.show+header{
        display: flex;
        width: 61vw;
        height: 100vh;
        background: rgb(0 0 0 / 80%);
        max-width: 300px;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .homepage>header>nav>ul>li,
    .companypage>header>nav>ul>li,
    .contactuspage>header>nav>ul>li,
    .productspage>header>nav>ul>li{
        width: 55vw;
        max-width: 265px;
        padding: 20px 0 20px 10px;
    }
    .homepage>header>nav>ul>li>a.listitemactive::before,
    .companypage>header>nav>ul>li>a.listitemactive::before,
    .contactuspage>header>nav>ul>li>a.listitemactive::before,
    .productspage>header>nav>ul>li>a.listitemactive::before{
        margin-right: 10px;
        padding: 8px;
    }
    .homepage>header>nav>ul>li>a,
    .companypage>header>nav>ul>li>a,
    .contactuspage>header>nav>ul>li>a,
    .productspage>header>nav>ul>li>a{
        font-size: 18px;
    }
    .homepage>header>nav>ul>li>a.listitemactive::after,
    .companypage>header>nav>ul>li>a.listitemactive::after,
    .contactuspage>header>nav>ul>li>a.listitemactive::after,
    .productspage>header>nav>ul>li>a.listitemactive::after{
        width: 180px;
    }
    
    
    /*home page*/
    .homepage{
        height: 100vh;
    }
    .homepage>button:nth-child(1).show,
    .contactuspage>button:nth-child(1).show,
    .productspage>button:nth-child(1).show{
        left: 61vw;
        transition: all .3s ease;
    }
    .homepage>main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        min-width: 300px;
        margin: auto;
    }
    .homepage>main>h1{
        text-shadow: 0px 3px 2px rgba(50, 50, 50, 1);
        font-size: 2.5rem;
        font-weight: 300;
        align-self: self-start;
        margin-left: 0;
    }
    .homepage>main>p {
        width: 95vw;
        margin: 2rem 0rem;
        align-self: self-start;
    }
    .homepage>main .btn{
        width: 220px;
        align-self: flex-start;
        margin: 0px;
    }
    .homepage>footer {
        left: auto;
        margin-bottom: 10px;
        right: 20px;
        padding: 10px 12px;
        bottom: 2vh;
        z-index: -1;
    }

    /*companypage */
    .companypage>button:nth-child(1).show{
        left: 60vw;
        transition: all .3s ease;
    }
    .companypage {
        height: 1815px;
    }
    .companypage>main {
        margin: 0rem auto;
        position: absolute;
        top: 50px;
        z-index: -1;
    }
    .companypage>main>h1{
        margin-left: 30px;
        text-align: left;
    }
    .companypage>main>article {
        flex-direction: column;
        padding: 0;
        width: 94vw;
        align-items: center;
    }
    .companypage>main>article>section>.card{
        flex-direction: column;
        padding: 30px;
        gap: 8px;
        max-width: 329px;
        background-color: rgb(0 0 0 / .3);
    }
    .companypage>main>article>section>.card>.cardcontant{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .companypage>main>article>section>.card>.icon>i {
        padding: 15px;
        font-size: 39px;
        margin-bottom: 16px;
    }
    .companypage>footer {
        right: 10px;
        left: 10px;
        bottom: -100vh;
    }

    /*contactus page*/
    .contactuspage{
        height: 1130px;
        position: relative;
    }
    .contactuspage>main{
        margin: 0 auto;
        width: 95vw;
    }
    .contactus {
        height: 1030px;
        width: auto;
        margin: 0px 15px;
        padding: 30px 35px 0px 35px;
        background-color: rgba(0,0,0,0.3);
    }
    .contactus>h1{
        color: white;
        text-shadow: 0px 3px 2px rgba(50, 50, 50, 1);
        margin: 0;
        max-width: 462px;
    }
    .contactus>section{
        flex-direction: column;
    }
    .contactus>section>form{
        align-items: center;
        width: 100%;
        align-self: center;
    }
    .contactus>section>form>input, form>textarea {
        width: 98%;
        max-width: 462px;
        margin: 10px 0;
        padding: 20px 0 20px 5px;
    }
    .contactus>section>section>p {
        width: 50vw;
    }
    .contactuspage>footer{
        bottom: 0vh;
        width: 230px;
        right: 10px;
    }


    /*products page*/
    .productspage{
        height: 100vh;
    }
    .productspage>main{
        margin: 30px auto;
        max-width: 314px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
    }
    .productspage h1 {
        margin: 0;
        align-self: flex-start;
    }
    .products {
        width: 76vw;
        padding: 30px 0;
    }
    .galary {
        width: 94vw;
        column-gap: 10px;
    }
    .galary>section {
        width: 85vw;
        max-width: 300px;
    }
    .galary img {
        width: 100vw;
        cursor: pointer;
    }
    .productspage>footer{
        bottom: -10px;
    }

    /*modal*/
    .showimg {
        width: 108vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .showimg>button {
        margin-left: 0;
        align-self: end;
        margin-right: 20px;
    }
    .showimg>section {
        width: 55vw;
        max-width: 287px;
        justify-content: flex-start;
    }
    .showimg>section img {
        width: 68vw;
        height: 66vh;
        margin-left: 0;
        max-width: 350px;
    }
    .showimg>section button {
        display: none;
    }
    .showimg>p {
        margin-left: 0;
        align-self: end;
        margin-right: 20px;
    }
}
@media screen and (min-width: 500px){
    .homepage>button:nth-child(1).show,
    .companypage>button:nth-child(1).show,
    .contactuspage>button:nth-child(1).show,
    .productspage>button:nth-child(1).show{
        left: 300px;
    }
    .companypage>header>nav,
    .homepage>header>nav,
    .productspage>header>nav,
    .contactuspage>header>nav{
        margin: auto;
    }
    .homepage>header>nav>ul>li,
    .companypage>header>nav>ul>li,
    .contactuspage>header>nav>ul>li,
    .productspage>header>nav>ul>li{
        width: 51vw;
        max-width: 230px;
        padding: 0px 0 20px 10px;
    }

    .homepage>main>p {
        width: 90vw;
        max-width: 700px;
        margin: 2rem 0rem 3rem 0;
        letter-spacing: .25px;
        align-self: self-start;
    }
    .homepage h1{
        margin-left: 0;
    }
    .homepage>footer{
        width: max-content;
        right: 30px;
    }

    .companypage {
        height: 1380px;
    }
    .companypage>main{
        top: 55px;
    }
    .companypage>main>h1 {
        margin-left: 50px;
    }
    .companypage>main>article>section>.card {
        flex-direction: row;
        width: 75vw;
        max-width: 576px;
    }
    .companypage>main>article>section>.card>.icon>i {
        padding: 30px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .companypage>footer {
        bottom: -85vh;
        padding: 10px;
        text-align: end;
        right: auto;
        left: 10%;
        width: 70vw;
        max-width: 412px;
    }
}
@media screen and (min-width: 600px){
    .contactuspage {
        height: 1015px;
    }
    .contactus {
        height: auto;
        padding: 60px 55px;
    }
    .contactus>h1 {
        margin: 0 0px 10px 20px;
    }
    .contactus>section>form {
        width: 100%;
        margin: 0 0 0 20px;
    }
    .contactus>section>form>input, form>textarea {
        width: 100%;
        max-width: 772px;
    }
    .contactus>section>section>p {
        width: 75vw;
        margin-bottom: 0;
    }
    .contactuspage>footer{
        margin-bottom: 15px;
        width: 412px;
    }
}
@media screen and (min-width: 640px){
    .productspage>main{
        max-width: 550px;
    }
    .products {
        width: 88vw;
    }
    .galary {
        width: 95vw;
    }
    .galary>section {
        width: 100vw;
        max-width: 600px;
        /*column-gap: 20px;*/
    }
    .galary img {
        width: 42vw;
    }
    .showimg>section {
        width: 83vw;
        max-width: 530px;
    }
    .showimg>section button {
        display: initial;
    }
}
@media screen and (min-width: 768px){
    .companypage {
        height: 970px;
    }
    .companypage>main {
        top: 60px;
    }
    .companypage>main>h1 {
        margin-bottom: 15px;
    }
    .companypage>main>article {
        flex-direction: row;
        width: 96vw;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
    }
    .companypage>main>article>section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .companypage>main>article>section>.card {
        flex-direction: column;
        width: 34vw;
        max-width: 400px;
        margin: 0;
    }
    .companypage>footer {
        bottom: -25vh;
        margin: 0;
        right: 38px;
        left: auto;
    }
}

@media screen and (min-width: 992px) {
    body>button {
        display: none;
    }
    .homepage{
        height: 100vh;
    }
    .homepage>header,
    .companypage>header,
    .contactuspage>header,
    .productspage>header{
        display: flex;
        width: 35vw;
        max-width: 399px;
        height: 99vh;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .homepage>header>nav>ul>li,
    .productspage>header>nav>ul>li,
    .companypage>header>nav>ul>li,
    .contactuspage>header>nav>ul>li{
        padding: 20px 0 20px 10px;
    }

    .homepage>main,
    .companypage>main,
    .contactuspage>main{
        width: 18vw;
        margin: 0 auto;
        min-width: auto;
    }
    .homepage>main>h1,
    .companypage>main>h1{
        width: 36vw;
    }

    .homepage>main>p {
        width: 59vw;
        align-self: self-start;
    }
    .homepage>footer {
        right: 5%;
        left: auto;
        margin-bottom: 30px;
        width: fit-content;
        bottom: 0px;
    }

    
    .companypage{
        height: 136vh;
    }
    .companypage>main{
        position: initial;
    }
    .companypage>main>h1 {
        margin-left: 0;
    }
    .companypage>main>article {
        flex-direction: column;
        width: 50vw;
    }
    .companypage>main>article>section>.card {
        flex-direction: row;
        width: 48vw;
        max-width: 866px;    
    }
    .companypage>footer {
        bottom: -34vh;
    }

    /*contactus page*/
    .contactuspage>header>nav{
        position: absolute;
        top: 15%;
        right: 20%;
        padding: 0;
    }
    .contactuspage {
        height: 130vh;
    }
    .contactus {
        height: 96vh;
        width: 42vw;
    }
    .contactus>h1 {
        margin: 0 0px 10px 30px;
        width: 90%;
    }
    .contactus>section>form {
        width: 90%;
    }
    .contactus>section>section>p {
        width: 45vw;
    }
    .contactus>section>section>address {
        margin: 0 auto;
        width: 45vw;
    }

    /*products page*/
    .productspage>main {
        max-width: max-content;
        width: 231px;
        margin: 0 auto;
    }
    .products {
        width: 600px;
        margin: 0 auto;
    }
    .galary {
        width: 615px;
    }
    .galary>section {
        width: 100vw;
        max-width: 590px;
    }
    .galary img {
        width: 180px;
        max-width: max-content;
    }

    .showimg {
        align-items: end;
    }
    .showimg>section {
        width: 93%;
        justify-content: space-between;
        max-width: initial;
    }
    .showimg>section img {
        width: 350px;
        height: 88vh;
        max-width: max-content;
    }
    .showimg>p {
        margin-right: 0;
        align-self: center;
        margin-left: 24rem;
    }
    .showimg>button {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .homepage>header,
    .companypage>header,
    .contactuspage>header{
        width: 26vw;
        max-width: 350px;
    }
    .homepage>main {
        width: 30vw;
    }

    .companypage {
        height: 107vh;
    }
    .companypage>header {
        height: 107vh;
    }
    .companypage>main{
        width: 30vw;
    }
    .companypage>main>h1 {
        margin-bottom: 15px;
    }
    .companypage>main>article {
        flex-direction: row;
        width: 58vw;
        gap: 15px;
    }
    .companypage>main>article>section {
        gap: 15px;
    }
    .companypage>main>article>section>.card {
        width: 28vw;
        max-width: 450px;
    }
    .companypage>footer {
        bottom: -6vh;
    }

    /*contactus page*/
    .contactuspage {
        height: 100vh;
    }
    .contactuspage>header {
        height: 100vh;
        /*width: 25vw;
        background: rgba(0, 0, 0, 0.4);*/
    }
    .contactuspage>header>nav {
        right: 12%;
    }
    .contactuspage>header>nav>ul>li {
        padding: 20px 0 30px 10px;
    }
    .contactuspage>main {
        width: 40vw;
    }
    .contactus {
        height: 67vh;
        width: 58vw;
        margin: 0;
    }
    .contactus>h1 {
        margin: 0px 0px 10px 8px;
    }
    .contactus>section {
        flex-direction: row;
        justify-content: space-between;
    }
    .contactus>section>form {
        width: 50%;
        margin: 0;
    }
    .contactus>section>form>input, form>textarea {
        width: 94%;
        max-width: 500px;
    }
    .contactus>section>section>p {
        width: 27vw;
        margin: 0 0 20px 0;
    }
    .contactus>section>section>p:nth-child(1){
        margin-top: 10px;
    }
    .contactus>section>section>address {
        margin: 0 auto;
        width: 27vw;
    }


    /*products page*/
    .productspage>main {
        max-width: 750px;
        width: 26vw;
    }
    .products{
        margin: 0 auto;
        width: 730px;
    }
    .galary{
        width: 785px;
    }
    .galary>section {
        max-width: max-content;
        width: 750px;
    }
    .galary img {
        width: 230px;
        max-width: max-content;
    }
}
